/* import custom font from GoogleFonts */
@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* myIntro section */
#myIntro {
  background-image: url(./images/ProfolioBackground.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;

}

/* background blurring */
#myIntro ::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 10%;
  z-index: -999;
}

.card {

  border-radius: 10px;
  background-color:black;
  z-index: 2;
  /* opacity: 50%; */

  /* background: inherit; */
  /* overflow: hidden; */
  /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
 
}


#myIntro h1 {
  display: block;
  width: fit-content;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 4rem;
  color: white;
  
}

#myIntro .cta {
  display: inline-block;
  margin-left: 5rem;
  margin-bottom: 5rem;
  padding: 1rem 1rem;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color;
}

#myIntro .cta:hover {
  background-color: crimson;
}

/* end myIntro section */
